<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/deede3a3c3.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
     <link rel="icon" type="image/png" href="../static/images/logo1.jpg">

    <title>MHRS- मानवा हित रक्षा संगठन</title>

    <style type="text/css">


       .contact-info a {
  
  line-height: 1;
  color: #444;
  transition: 0.3s;
}

 .contact-info a:hover {
  color: #428bca;
}

 .contact-info i {
  color: #428bca;
  padding: 4px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
  margin-left: 10px;
}
a{
  text-decoration: none;
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


html{
  min-height: 100%;
  overflow: auto;
}




header a.hover:hover {
  background: green;
}



    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  <body>
    <header class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-1 bg-white border-bottom shadow-sm">
     <a class="p-2 text-dark" href="../index.html"><img class="img-fluid" style="width: 55px; height: 55px;" src="../static/images/logo1.jpg"></a>
     
  <p class="h5 my-0 me-md-auto fw-normal line-2 anim-typewriter  text-dark">&nbsp;Manavadhikar</p>
  <nav class="my-2 my-md-0 me-md-3">
   <a class="p-2 text-dark hover active" href="../index.html">Home</a>
   <a class="p-2 text-dark hover" href="about.html">About</a>
   <a class="p-2 text-dark hover" href="gallery.html">Gallery</a>
   <a class="p-2 text-dark hover" href="contact.html">Contact</a>
    <a class="p-2 text-dark hover" href="gallery.html">Our Works</a>
  </nav>
</header>


<div class="container-fluid">
  <h1 class="text-center mb-4">Events & Functions</h1>




  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/img/10421253_445139628976413_5384327925357272410_n (1).jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />


                <div class="container">
                    <div class="carousel-caption text-start">


                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/11037321_416747701815606_1781109945687856967_n.jpg" aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/3.jpeg" aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/4.jpeg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />



            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/10383487_375437045946672_6088098807611021812_n.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />



            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%"
                    src="../static/images/10407953_380544092102634_8171119453293874950_n.jpg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />



            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
  </div>









<div class="card-group">
  <div class="card">
    <img src="../static/images/3.jpeg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/4.jpeg" class="card-img-top" alt="...">
  </div>
   <div class="card">
    <img src="../static/images/img/10383487_375437045946672_6088098807611021812_n.jpg" class="card-img-top" alt="...">
  </div>
</div>
<div class="card-group">
 <div class="card">
    <img src="../static/images/img/10384830_375433405947036_7443640631494847584_n.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/img/10388644_377181515772225_9090007012394904072_n (1).jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/img/10390090_375438355946541_9075087954062892072_n.jpg" class="card-img-top" alt="...">
  </div>
</div>
<div class="card-group">
 <div class="card">
    <img src="../static/images/img/10390950_375432182613825_5298829205484422097_n.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/img/10403616_377166529107057_8733505156688205094_n.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/img/10426759_377228152434228_4029730358490578111_n.jpg" class="card-img-top" alt="...">
  </div>
</div>
<div class="container-fluid mt-2 mb-2" style=" background-color: coral;">
        <h1 class="text-dark text-center">Social Works</h1>
    </div>
    <marquee behavior="alternate">
        <img src="../static/images/logo.jpg" width="250" height="208" alt="....">
        <img src="../static/images/beapart.jpg" width="250" height="208" alt="......">
        <img src="../static/images/10849845_380544655435911_7515077285214198090_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10849890_380543848769325_1977935405241857430_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10896868_432882620202114_6680166669142985297_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10955714_414296778727365_6884535666039217782_n (1).jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11021209_414650998691943_2488453535081524914_n (1).jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11026134_417136091776767_3397648197336244857_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11037321_416747701815606_1781109945687856967_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11071716_427544614069248_4915837542477814485_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/logo.jpg" width="250" height="208" alt="....">
        <img src="../static/images/beapart.jpg" width="250" height="208" alt="......">
        <img src="../static/images/10849845_380544655435911_7515077285214198090_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10849890_380543848769325_1977935405241857430_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10896868_432882620202114_6680166669142985297_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/10955714_414296778727365_6884535666039217782_n (1).jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11021209_414650998691943_2488453535081524914_n (1).jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11026134_417136091776767_3397648197336244857_n.jpg"
            width="250" height="208" alt=".......">
        <img src="../static/images/11037321_416747701815606_1781109945687856967_n.jpg"
            width="250" height="208" alt=".......">
        <img src="static/images/11071716_427544614069248_4915837542477814485_n.jpg"
            width="250" height="208" alt=".......">
    </marquee>
    <div class="card-group">
 <div class="card">


    <img src="../static/images/img/10417768_375434989280211_7081446585483860989_n.jpg" class="card-img-top" alt="...">



  </div>
  <div class="card">
    <img src="../static/images/img/10418964_375433249280385_1950555171113432372_n.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="../static/images/img/10420385_375439709279739_7620772285405078057_n.jpg" class="card-img-top" alt="...">
  </div>
</div>






<footer class="container-fluid bg-dark my-0 py-3 text-light">
    <p class="mb-0 text-center">&copy; 2020-2021 Manvadihar-mhrs</p>
   
    <p class="mb-0 text-center">
      <a href="#">Back to top |</a>
      <a href="/privacy">Privacy |</a>
      <a href="/terms">Terms</a>
    </p>
     <p class="mb-0 text-center">Developed by :  <a href="https://www.instagram.com/anand_raj_priyanshu/" target="_blank">Priyanshu Raj Anand.</a></p>

  </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    
  </body>
</html>